

body{
    background-color: #eeeeee;
    overflow-x: hidden;
}

.head{
    width: 90vw;
    height:auto;
    background-color: white;
    box-sizing: border-box;
    margin:20px;
    margin-left: 50px;
    padding: 10px;
    padding-top: 20px;
}

.navbar{
    width: 100%;
    height:40px;
    display: flex;
    flex-direction: row;
}

.navbar>div{
    width: 100px;
    height: 20px;
    margin:10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.list-items span{
    padding-left: 20px;
}

.sub-bar{
    width: 100%;
    height: 40px;
    margin-top: 5%;
    display: flex;
    flex-flow: row;
    align-items: center;
}
div.sub-bar>div{
     width: calc(100%*2/3);
     height: 100%;
     justify-content: space-between; 
     margin-left: 20px;

}

div.search input{
    width: 220px;
    height:20px;
    background-color: #eeeeee;
    appearance: none;
    border:unset;
    outline:unset;
    padding:8px;
}
div>.sub-bar>div.category>select {
     width: 160px;
     height:20px;
     background-color:unset;
     border:1px solid #ccc;
     box-sizing: border-box;
     outline:unset;
     padding:1px;
     color:#ccc;    
     margin-top: 12px;
}

.sub-bar>div{
    display: inline-block;
}

div.section-box{
    display: flex;
    width: 100%;
    height:auto;
}

div.section-box>div{
    width: 500px;
    height:auto;
    padding: 20px;
    padding-left: 30px;
}

div.section-box>div h1{
    font-size: 40px;
}
div.section-box>div p {
    font-size: 20px;
    color:#6d6d6d;
}
a:link{color:#6d6d6d;}
a:visited{color:#6d6d6d;}
a:active{color:#6d6d6d;}
a:hover{color:#db943d;}


div.slide-section>button:first-of-type{
    width: 120px;
    height: 40px;
    background-color: #8aa16d;
    color: white;
    outline: unset;
    border: unset;
    cursor: pointer;
    margin-right: 40px;
}
div.slide-section>button:first-of-type:hover{
      background-color: #7ba34a;
}

div.slide-section>button:last-of-type{
 width: 120px;
 height: 40px;
 background-color: #facf9c;
 color: white;
 outline: unset;
 border: unset;
 cursor: pointer;
}
div.slide-section>button:last-of-type:hover {
    background-color: #d88723;
    ;
}
.img-col{
    display: flex;
}

.img-col >img{
   margin-top: 100px;
   width: auto;
   height:200px;
}
.container{
    display: flex;
    width: 100%;
    justify-content: center;
}
.container>div{
    width: 230px;
    height: 160px;
    justify-content: space-evenly;
    background-color: #ccc;
    margin: 2px;
}
div.section-title{
    width: 220px;
    height:60px;
    margin-left: 140px;
    text-align: center;  
}
div.section-title>div:first-child{
    width:12px;
    height: 12px;
    border-radius: 100%;
    background-color: orange;
}

.card-container{
    display: flex;
    justify-content: center;
}
.card-container>div{
    width: 220px;
    height:auto;
    background-color: white;
    box-sizing: border-box;
    margin: 7px;
    padding: 9px;
}
.card-container>div>img{
    width: 180px;
    height:140px;
    margin:calc(100*1/3)
}
.tag{
    width:40px;
    height:20px;
    border-radius: 2px;
    background-color: crimson;
    color: white;
    font-weight: 400;
    box-sizing: border-box;
    margin:2px;
    padding:2px;
}
.cart-container-sm{
    display: flex;
}
div.cart-container-sm input, button{
width: 20px;
height:20px;
border:1px solid #ccc;
background-color: unset;
outline:unset;
}
div.cart-container-sm button{
    height:24px;
}
div.cart-container-sm>div:nth-of-type(5){
     background-color: rgb(0, 0, 156);
     color:white;
     padding:2px;   
}

.pag-controls{
    width: 1120px;
    height:40px;
    display: flex;
    justify-content: center;
}

.pag-controls>div{
    width: 160px;
    height:40px;
}
.pag-controls button{
    width: 120px;
    height:40px;
    background-color: #7ba34a;
    border: unset;
    outline: unset;
    border-radius: 4px;
    color:white;
    cursor: pointer;
}
div.sub-container {
    margin: 50px;
}
div.nav-arr>div{
    width:20px;
    height:20px;
    border-radius: 100%;
    padding:4px;
    margin:1px;
    background-color:#7ba34a;
    color:white;
    font-size: 16px;
    cursor: pointer;
}

div.galary-img{
    width: 100%;
    display:flex;
    justify-content: center;
}
div.galary-img>div{
    width: 310px;
    height:200px;
    box-sizing: border-box;
    padding: 20px;
    padding-top:6%;
    text-align: center;
}
div.galary-img>div:nth-child(1){
    background-color:#7ba34a;
    color:white;
}
div.galary-img>div:nth-child(2) {
    background-color:orange;
    color: white;
}
div.galary-img>div:nth-child(3) {
    background-color: rgb(0, 0, 104);
    color: white;
}

 .label-section{
      width: 924px;
      height:260px;
      background-color: white;
      box-sizing: border-box;
      margin-left: 156px;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
 }
 div.label-inner{
    width:80%;
    height:140px;
    display: flex;
 }

 div.label-inner>div{
     width:220px;
     height:140px;
     text-align: center;
 }
  div.label-inner>div h1{
      font-size: 45px;
      color: rgb(0, 0, 104);
  }
   div.label-inner>div>h3{
       color:rgb(133, 133, 133);
   }

   div.offer-head{
       position: absolute;
       left:45%;
       padding-top:40px;
   }
div.pair-section{
    width: 930px;
    height:460px;
    box-sizing: border-box;
    margin-left: 150px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.pair-section>div{
    width:40vw;
    height:260px;
    box-sizing: border-box;
    font-size: medium;
}

div.pair-section>div:first-child{
   background-color: rgb(0, 0, 104);
    margin-right:14px;
}
div.pair-section>div:nth-child(2) {
     background-color:orange;
    padding-bottom: 12px;
}

div.outline-box{
     width:400px;
     height:220px;
     margin: 14px;
     position: absolute;
     box-sizing: border-box;
     background-color: unset;
     border:1px solid white;
     display: flex;
}
div.outline-box>div{
    margin:2px;
}
div.outline-box>div img{
    width:120px;
    height:120px;
    padding-top: 50px;
}
.outline-box-inner{
    color:white;
    padding-top: 40px;
    padding:10px;
}
.outline-box-inner>button{
    width: 120px;
    height:40px;
    color:white;
    background-color: orange;
    border-radius: 2px;
    border:unset;
    outline:unset;
    cursor: pointer;
}

div.outline-box-inner>button#btn-blue {
    background-color: rgb(0, 0, 104);
}

.testimonial-section{
     width: 930px;
     height:260px;
     box-sizing: border-box;
     margin-left: 150px;
     padding: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
}
div.testimonial-section>div.l-arr{
    position: absolute;
    left:15%;
    width: 50px;
    height:50px;
    background-color:white;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 14px;
}
div.testimonial-section>div.r-arr{
     position: absolute;
      right:15%;
      width: 50px;
      height:50px;
      background-color:white;
      border-radius: 50%;
      box-sizing: border-box;
      padding: 14px;
}
div.round-profile-img{
    width: 40px;
    height:40px;
    border:3px solid white;
    border-radius:100%;
    position: absolute;
    background-color: turquoise;
    left:48%;
    top:515%;
}
div.round-profile-img img{
    width:40px;
    height:40px;
    border-radius:100%;
}

div.panel-sm{
    width: 100%;
    display: flex;
    justify-content:center;
}

div.panel-sm>div.card-sm{
    width: 270px;
    height:80px;
    background-color: white;
    margin-right: 10px;
    padding: 20px;
    display: flex;
    justify-content:center;
}
div.panel-sm>div.card-sm>img{
    width: 80px;
    height:auto;
}


div.blog-card{
    display: flex;
    justify-content: center;
}
div.blog-card>div{
    width: 305px;
    height:460px;
    background-color: white;
    box-sizing: border-box;
    margin:10px;
    padding: 4px;
}
div.blog-card>div img{
    width: 100%;
    height:50%;
}
div.blog-details{
    padding-left: 10px;
    padding-right:10px;
}
div.blog-details>button{
    width: 120px;
    height:40px;
    border: unset;
    outline: unset;
    appearance: unset;
    font-weight: 600;
    cursor: pointer;
}
div.blog-details>h5{
    color:orangered;
}
div.blog-controls{
    display: flex;
    justify-content:start;
}
div.blog-controls>div{
    margin-left:35px;
}

div.footer{
     display: flex;
     justify-content: space-evenly;
}
div.footer>div{
    margin:20px;
}
div.footer>div>h4{
    text-align: center;
}


div.footer>div>ul li{
    list-style: none;
    padding-top: 10px;
    font-size: 11px;
    color:#6d6d6d;
}

div.footer>div>ul button{
    width:100px;
    height:40px;
    background-color:#7ba34a;
    color:white;
    padding:2px;
}

div.footer>div>ul input{
    width:160px;
    height:30px;
    color:white;
    padding:2px;
}

div.footer>div>h4#newletter{
    text-align: left;
}